<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1><%= @list.name %></h1>
    <%= link_to "add a film", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %></h5>
            <p class="card-text"><%= bookmark.comment %></p>
            <%= link_to "delete", bookmark_path(bookmark),
                data: { turbo_method: :delete, turbo_confirm: "are you sure you want to delete this?" },
                class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
