<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="lang-jp"><%= @list.name %></h1>
    <h1 class="lang-en d-none"><%= @list.name %></h1>
    <%= link_to "映画を追加", new_list_bookmark_path(@list), class: "btn btn-primary lang-jp" %>
    <%= link_to "Add a Film", new_list_bookmark_path(@list), class: "btn btn-primary lang-en d-none" %>
  </div>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %>">
          <div class="card-body">
            <h5 class="card-title lang-jp"><%= bookmark.movie.title %></h5>
            <h5 class="card-title lang-en d-none"><%= bookmark.movie.title %></h5>
            <p class="card-text lang-jp"><%= bookmark.comment %></p>
            <p class="card-text lang-en d-none"><%= bookmark.comment %></p>
            <%= link_to "削除", bookmark_path(bookmark),
                data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                class: "btn btn-danger lang-jp" %>
            <%= link_to "Delete", bookmark_path(bookmark),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this?" },
                class: "btn btn-danger lang-en d-none" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
